* p, footer {
  color: #d3d3d3;
  font-size: 1em;
  font-family: 'Merriweather', serif;
  margin-left: 3%;
}

footer {
  text-align: center;
}
/*************Header****************/


.header h1 {
  background-color: #35586C;
  color: white;
  margin-top: 0;
  width: auto;
  padding: 20px;
  font-size: 1.9em;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Merriweather', serif;
}


/*************Intro****************/

.intro h2 {
  text-align: center;
  color: #35586C;
  letter-spacing: 1px;
  font-size: 1.9em;
  margin: 0;
  font-family: 'Merriweather', serif;
}

.intro p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  text-align: center;
  color: #d3d3d3;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}


/*************Forms****************/


label {
  font-family: 'Merriweather', serif;
  color: #d3d3d3;
  font-size: .75em;
  margin-left: 3%;
  margin-right: 3%;
}

.newsletter {
  padding-top: 20px;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  border-top: 2px solid black; 
  width: 94%;
  margin-bottom: 10px;
  margin-right: 3%;
  margin-left: 3%;
}

legend {
  padding-top: 10px;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  margin-bottom: 10px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  border-top: double 5px black;
}


#name, #mail, #phone, #address, #city, #state, #ideas {
  display: block;
  margin: 10px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  border-radius: 5px;
  background-color: #F8F8FF;
}

#zip {
  display: block;
  margin: 10px;
  width: 40%;
  margin-right: 3%;
  margin-left: 3%;
  border-radius: 5px;
  background-color: #F8F8FF;
  margin-bottom: 20px;
}      

#htmlnews, #cssnews, #javascriptnews {
  margin-left: 3%;
}

#html, #plaintext {
  margin-left: 3%;
}

textarea {
  resize: none;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #48D1CC;
  font-size: 18px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: normal;
  border-radius: 5px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: right;
}
::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
  font-family: 'Merriweather', serif;
    text-align: right;
}
:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
  font-family: 'Merriweather', serif;
    text-align: right;
}
:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
  font-family: 'Merriweather', serif;
    text-align: right;
}


/*************Media****************/


@media (min-width: 768px) {

/******  GENERAL ******/

.header {
  min-width: 100%;
}

.wrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
}




}

